<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <!--style sheets-->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />

    <!--library scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="js/angular-resource.js"></script>

    <!--application script-->
    <script src="app/app.js"></script>


    <!--services-->
    <script src="common/services/common.services.js"></script>

    <!--controllers-->
    <script src="app/products/productListCtrl.js"></script>

</head>
<!--<body ng-app>-->
<body ng-app="productManagement">
<div class="panel panel-primary">
    <div class="panel-heading"
            style="font-size:large">Product List

    </div>

    <div class="panel-body">
    <table class="table" ng-controller="ProductListCtrl as vm">


   <!-- <table ng-init='products = [
        {" productId": 1,
                "productName": "Leaf Rake",
                "productCode": "GDN-0011",
                "releaseDate": "March 19, 2009",
                "description": "Leaf rake with 48-inch handle.",
                "cost": 9.00,
                "price": 19.95,
                "category": "garden",
                "tags": [ "leaf", "tool" ],
                "imageUrl": "http://openclipart.org/image/300px/svg_to_png/26215/Anonymous_Leaf_Rake.png"
            },
            {
                "productId": 5,
                "productName": "Hammer",
                "productCode": "TBX-0048",
                "releaseDate": "May 21, 2013",
                "description": "Curved claw steel hammer",
                "cost": 1.00,
                "price": 8.99,
                "category": "toolbox",
                "tags": ["tool"],
                "imageUrl": "http://openclipart.org/image/300px/svg_to_png/73/rejon_Hammer.png"
            }];'>-->
        <thead>
        <tr>
            <!--<td>Image</td>-->
            <td><button type="button"
                        class="btn btn-primary"
                        ng-click="vm.toggleImage()">
                {{vm.showImage ? "Hide" : "Show"}} Image
                </button>
            </td>
            <td>Product</td>
            <td>Code</td>
            <td>Available</td>
            <td>Price</td>
        </tr>
        </thead>
        <tbody>
        <!--<tr ng-repeat="product in products">-->
        <tr ng-repeat="product in vm.products"><!--ng-show="vm.showImage" -->
            <td>
                <img
                        ng-if="vm.showImage"
                        ng-src="{{product.imageUrl}}"
                        style="width:50px;margin:2px"
                        title="{{product.productName}}">
            </td>
            <td>{{product.productName}}</td>
            <td>{{product.productCode}}</td>
            <td>{{product.releaseDate}}</td>
            <td>{{product.price | currency}}</td>
        </tr>
        </tbody>
    </table>

    </div>

</div>
</body>

</html>